/* CSS3 for Qrochet. */

body {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;

    background: linear-gradient(to right, beige, khaki);
    height: 100vh;
    outline: 2px dashed whitesmoke;
  	outline-offset: -10px;
  	padding: 20px;
}

h1 {
   margin: auto;
   width: 80%;
   text-align: center;
}

h2 {
   margin: auto;
   width: 80%;
   text-align: center;
   padding-bottom: 1em;
}

div {
   margin: auto;
   width: 80%;
   text-align: center;
   padding-bottom: 1em;
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: box-shadow 0.3s ease;
    margin: auto;
    width: 50%;
 	outline: 2px dashed whitesmoke;
  	outline-offset: -10px;
}

form:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: saddlebrown;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: saddlebrown; /* Hot Pink */
    outline: none;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: saddlebrown; /* Hot Pink */
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: saddlebrown;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: ;
}

button:active {
    background-color: mediumvioletred;
}

div.error {
    background-color: white;
    color: darkred;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: box-shadow 0.3s ease;
    margin: auto;
    width: 50%;
 	outline: 2px dashed whitesmoke;
  	outline-offset: -10px;
}

div.message {
    background-color: white;
    color: darkgreen;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: box-shadow 0.3s ease;
    margin: auto;
    width: 50%;
 	outline: 2px dashed whitesmoke;
  	outline-offset: -10px;
}

#preview {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

