<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Form</title>
    <link rel="stylesheet" href="/web/qrochet.css">
</head>
<body>
{{define "craft_display"}}
<div class="craft">
	<h2>{{.Title}}</h2>
	<img src="/upload/{{.Image}}" width="240" height="240"/><br>
	<p>{{.Detail | doc}}<p>
</div>
{{end}}

<div id="dialog">
	{{ if .Craft.OK }}
		<div class="message">Craft created OK</div>
		<a href="/" target="_top">Back to top</a>
	{{ else }}
	<form action="/my/craft#dialog" method="post" enctype="multipart/form-data" target="htmz">
	<label for="name">Title.</label>
	<input type="input" id="name" name="name" required="1" value="{{.Craft.Name}}" />
	<br/>
	<label for="pass">Description. Please use the <a href="/web/doc.html" target="_blank" rel="noopener noreferrer">doc format</a>.</label>
	<textarea id="description" name="description" required="1">{{.Craft.Description}}</textarea>
	<br/>
	<label for="image">Image (up to 4MB)</label>
	<input type="file" id="image" name="image" value="true"
		accept="image/png, image/jpeg, image/gif"
		oninput="preview.src=window.URL.createObjectURL(this.files[0])"
	/>
	<br/>
	<img id="preview"/>
	<br/>
	<label for="agree">I agree with the <a href="/web/terms.html">terms and conditions</a> for the use of this web site.</label>
    <input type="checkbox" id="agree" name="agree" required="1" value="true" />

	<input type="hidden" id="submit" name="submit" value="true" />
	<button type="submit" id="submitbutton" name="submitbutton" value="true">New Craft</button>
	</form>
	{{ end }}
	{{ range .Errors }}
		<div class="error">{{.}}</div>
	{{ end }}
	{{ range .Messages }}
		<div class="message">{{.}}</div>
	{{ end }}
		<h1>My Crafts</h1>
	{{ range .Craft.All }}
		<p>Craft</p>
		{{template "craft_display" .}}
	{{ end }}
</div>
</body>
</html>