<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Form</title>
    <link rel="stylesheet" href="/web/qrochet.css">
</head>
<body>
<div id="dialog">
	{{ if .Logout.OK }}
		<div class="message">Log In OK</div>
		<a href="/" target="_top">Back to top</a>
	{{ else }}
	<form action="/logout#dialog" method="post" enctype="multipart/form-data" target="htmz">
	<input type="hidden" id="submit" name="submit" value="true" />
	<button type="submit" id="submitbutton" name="submitbutton" value="true">Log Out</button>
	<br/>
	</form>
	{{ end }}
	{{ range .Errors }}
		<div class="error">{{.}}</div>
	{{ end }}
	{{ range .Messages }}
		<div class="message">{{.}}</div>
	{{ end }}
</div>
</body>
</html>